[flake8]
# プロジェクトのソースコードがあるディレクトリを指定
exclude = .git,__pycache__,docs/,*/migrations/,venv/,*/static/*,*/media/*

# 1行の最大文字数 (ruffなどのフォーマッターと合わせる)
max-line-length = 88
# McCabeによる循環的複雑度の閾値
max-complexity = 12

# 無視するエラー/警告コード
# E203: スライスのホワイトスペースに関するエラー (Black対応)
# W503: 演算子の前の改行 (PEP8が変更され、これが推奨になった)
# D415: docstringの改行に関するエラー (Black対応)
ignore = E203, W503, E501, D415
# docstring規約の設定 (flake8-docstringsプラグイン用)
docstring-convention = google

# ファイル/ディレクトリごとの設定
per-file-ignores =
    */__init__.py: F401
    tests/*: S101, D100, D101, D102, D103
    app/migrations/*: D100, D101, D102, D103
